judul 
sub judul
descripsi (paragraf)
data mahasiswa (nmp,nama)table

>div class="judul">
  >div class="subjudul">
  >div class="description"
      <p>Berikut adalah adalah data mahasiswa
  >div class="table-container"
     <table>
        <thread>
          <tr>
            <th>Nama</th>   
            <th>Npm</th>
            <th>kelas</th>
          </tr>
        </thread> 
     </table>    

     
     <h1>Halaman Profile</h1>
     
     <h2>Data diri</h2>
     
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar malesuada massa et commodo. Sed porttitor neque sit amet augue ornare, in volutpat ligula consequat. Donec quis elementum turpis, consectetur consequat elit. Nullam convallis, ante eget elementum tincidunt, mi enim egestas quam, at convallis.</p>
     
     <table>
         <tr>
             <th>Nama</th>
             <th>NPM</th>
         </tr>
         <tr>
             <td>Namamu</td>
             <td>123456789</td>
     </table>
     Ali al uraydhi and Fernando Valentino